@media screen and (max-width: 980px) {
  /* Start LogIn Area  */
  .logo-area {
    width: 100%;
    float: none;
    text-align: center;
  }
  .login-area {
    width: 450px;
    margin: 10px auto;
    float: none;
  }
  .login-area form {
    float: none;
  }
  /* End LogIn Area  */
  /* start signUp Area */
  .signup-area {
    height: 620px;
  }
  .left-part p {
    width: 350px;
    font-size: 16px;
    line-height: 25px;
  }
  .create-ac h2 {
    font-size: 30px;
  }
  .create-ac p {
    font-size: 17px;
  }
}
@media screen and (max-width: 760px) {
  /* Start LogIn Area  */
  .login-area {
    width: 100%;
  }
  .login-area .username,
  .login-area .password,
  .login-area .login {
    float: none;
  }
  .login-area input[type="text"],
  .login-area input[type="password"] {
    width: 100%;
  }
  .login-area input[type="submit"] {
    margin-top: 10px;
  }
  /* End LogIn Area  */
  /* Start SignUp Area */
  .signup-area {
    height: 620px;
  }
  .left-part p {
    width: 315px;
    font-size: 15px;
    line-height: 25px;
  }
  .create-ac h2 {
    font-size: 30px;
  }
  .create-ac p {
    font-size: 17px;
  }
  .fullname input {
    font-size: 16px;
  }
  .email,
  .signup-password {
    font-size: 16px;
  }
  .gender-btn label {
    font-size: 15px;
  }
}
@media screen and (max-width: 480px) {
  /* Start LogIn Area  */
  .container-header {
    width: 80%;
  }
  /* End LogIn Area  */
  /* Start SignUp Area */
  .signup-area {
    height: 770px;
  }
  .left-part {
    width: 100%;
  }
  .left-part p {
    width: 100%;
    font-size: 20px;
  }
  .right-part {
    width: 100%;
  }
  .btr-signup{
    width: 100%;
  }
  .btr-signup input {
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 20px;

  }
  .create-page {
    margin-left: 44px;
  }
  /* End SignUp Area */
}
@media screen and (max-width:415px){
  .create-page {
    display: block;
    margin-left: 0;
    text-align: center;
}
}